<!DOCTYPE html>
<html>
<head>
<title><%= good.goodname %>商品</title>
<!-- bootstrap框架 -->
<%-include('bt.ejs')%>
</head>
<body>

	<div class="container">
		<%-include('daohanglan.ejs')%>
		<div class="row" style="margin-top: 10px">
			
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">商品信息</div>
					<div class="card-body">
						<div>
							<h2>商品信息如下：</h2>
							<div class="row">
								<div class="col-lg-6">
									<p>商品名：<%= good.goodsname %></p>
									<p>价格 ：$ <%= good.price %></p>
									<p>库存数量：<%= good.number %></p>
									<p>商家：<%= good.username %></p>
								</div>
								<div class="col-lg-6">
									<img src="upload/<%= good.photo %>" style="width: 90%">
								</div>
							</div>
							<div class="btn-group">

								<input type="button" class="btn btn-sm btn-outline-secondary"
									data-toggle="modal" data-target="#add" data-whatever="@mdo"
									onclick="Values('<%= good.id %>')" value="添加到购物车" />

								<div class="modal fade" id="add" tabindex="-1" role="dialog"
									aria-labelledby="addLabel" aria-hidden="true">
									<div class="modal-dialog" role="document"
										style="height: 400px; overflow: auto;">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="addLabel">添加商品到购物车</h5>
											</div>
											<form method="post" action="/AddShopGoods">
												<input type="hidden" id="id1" name="id" value=''>
												<div class="modal-body">

													<div class="form-group">
														<label class="col-form-label">商品数量:</label> <input
															class="form-control" id="number" name="number"
															pattern="[0-9]{1,}""></input>
													</div>

												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-dismiss="modal">关闭</button>
													<button type="submit" class="btn btn-primary">确定添加</button>
												</div>
											</form>
										</div>
									</div>
								</div>
								<script type="text/javascript">
									$("#add").modal("hide");
									function Values(ID) {
										$("#id1").val(ID);
									}
								</script>
								<input type="button" class="btn btn-sm btn-outline-secondary"
									data-toggle="modal" data-target="#buy" data-whatever="@mdo"
									onclick="BUY('<%= good.id %>')" value="购买" />

								<div class="modal fade" id="buy" tabindex="-1" role="dialog"
									aria-labelledby="buyLabel" aria-hidden="true">
									<div class="modal-dialog" role="document"
										style="height: 400px; overflow: auto;">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="buyLabel">购买商品</h5>
											</div>
											<form method="post" action="/Directbuygoods">
												<input type="hidden" id="id" name="id" value=''>
												<div class="modal-body">

													<div class="form-group">
														<label class="col-form-label">商品数量:</label> <input
															class="form-control" id="number" name="number"
															pattern="[0-9]{1,}"></input>
													</div>

												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-dismiss="modal">关闭</button>
													<button type="submit" class="btn btn-primary">确定购买</button>
												</div>
											</form>
										</div>
									</div>
								</div>
								<script type="text/javascript">
									$("#buy").modal("hide");
									function BUY(ID) {
										$("#id").val(ID);
									}
								</script>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">用户评论</div>
					<div class="card-body">
					<%if(goodreplyList){%>
						<% for(var i = 0; i < goodreplyList.length; i++) { %>
							<div class="card">
								<div class="card-header">用户<%= goodreplyList[i].username %>的评价是：</div>
								<div class="card-body">
									<p><%= goodreplyList[i].text %></p>	
									<p><small>评论时间：<%= goodreplyList[i].time %></small></p>
								</div>
							</div>
						<% } %>
					<% } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>