<!DOCTYPE html>
<html>
<head>

<title>小店商品</title>
<!-- bootstrap框架 -->
<%-include('bt.ejs')%>
</head>
<body>

	<div class="container">
			<div class="row" style="margin-top: 10px">
				<%-include('userlf.ejs')%>
				<div class="col-lg-9">
					<div class="card">
						<div class="card-header">车行管理</div>
						<div class="card-body">
							<p style="color: red"><%= info %></p>
							<table class="table">
								<thead class="thead-dark">
									<tr>
										<th scope="col">序号</th>
										<th scope="col">车辆名称</th>
										<th scope="col">车辆价格</th>
										<th scope="col">商品状态1</th>
										<th scope="col">商品状态2</th>
										<th scope="col">操作</th>
									</tr>
								</thead>
								<tbody>
									<% if(carList){ %>
										<% for(var i = 0; i < carList.length; i++) { %>
											<tr> 
												<th scope="row"><%= i %></th>
												<td><%= carList[i].goodsname %></td>
												<td><%= carList[i].price %></td>
												<td>
													<button type="button"
														class="btn btn-<%= carList[i].status1?'primary':'danger' %>">
														<%= carList[i].status1?"商品在售":'商品未售' %></button>
												</td>
												<td>
													<button type="button"
														class="btn btn-<%= carList[i].status2?'danger':'primary' %>">
														<%= carList[i].status2?"车辆租出":'车辆未租出' %></button>
												</td>
												<td>
													<% if(carList[i].status1==1){ %>
														<a type="button" class="btn btn-danger"
															href="/Invalidgoods?id=<%= carList[i].id %>">车辆下架</a>
													<% } %> 
													<% if(carList[i].status1==0){ %>
														<a type="button" class="btn btn-primary"
															href="/Restoregoods?id=<%= carList[i].id %>">车辆上架</a>
													<% } %> 
												</td>
											</tr>
										<% } %>
									<% } %>
								</tbody>
								
							</table>
							<a type="button" class="btn btn-primary" href="addgoods.ejs">添加新车</a>
						</div>
					</div>
				</div>
			</div>
	</div>

</body>
</html>