<!DOCTYPE html>
<html>
<head>

<title>我的购物历史</title>
<!-- bootstrap框架 -->
<%-include('bt.ejs')%>
</head>
<body>

	<div class="container">
		<%-include('daohanglan.ejs')%>
		<div class="row" style="margin-top: 10px">
			<%-include('userlf.ejs')%>
			<div class="col-lg-9">
				<div class="card">
					<div class="card-header">我的购物历史</div>
					<div class="card-body">
						<table class="table">
							<thead class="thead-dark">
								<tr>
									<th scope="col">序号</th>
									<th scope="col">商品名称</th>
									<th scope="col">商品图像</th>
									<th scope="col">售卖者</th>
									<th scope="col">购买时间</th>
									<th scope="col">操作</th>
								</tr>
							</thead>
							<tbody>
								<% if(goodsList){ %>
									<% for(var i = 0; i < goodsList.length; i++) { %>
										<tr>
											<th scope="row"><%= i %></th>
											<td><%= goodsList[i].goodname %></td>
											<td><img src="upload/<%= goodsList[i].photo %>" style="width: 90%"></td>
											<td><%= goodsList[i].shopusername %></td>
											<td><%= goodsList[i].time %></td>
											<td>
											<% if(goodsList[i].status==0){ %>
												<input type="button"
													class="btn btn-sm btn-outline-secondary" data-toggle="modal"
													data-target="#add" data-whatever="@mdo"
													onclick="Values('<%= goodsList[i].id %>')" value="评价" />
											<% } %>
											<% if(goodsList[i].status==1){ %>
												<button class="btn btn-sm btn-outline-secondary">已评价</button>
											<% } %>
												<div class="modal fade" id="add" tabindex="-1" role="dialog"
													aria-labelledby="addLabel" aria-hidden="true">
													<div class="modal-dialog" role="document"
														style="height: 400px; overflow: auto;">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="addLabel">评价商品</h5>
															</div>
															<form method="post" action="/AddReply">
																<input type="hidden" id="id1" name="id" value=''>
																<div class="modal-body">

																	<div class="form-group">
																		<label class="col-form-label">你的评价是:</label> <input
																			class="form-control" id="text" name="text"
																			"></input>
																	</div>

																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-secondary"
																		data-dismiss="modal">关闭</button>
																	<button type="submit" class="btn btn-primary">提交</button>
																</div>
															</form>
														</div>
													</div>
												</div>
												<script type="text/javascript">
													$("#add").modal("hide");
													function Values(ID) {
														$("#id1").val(ID);
													}
												</script></td>
										</tr>
									<% } %>
								<% } %>
							</tbody>

						</table>
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<li class="page-item"><a class="page-link" href="#">Previous</a></li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#">Next</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>