<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
<head>

<title>我的购物车</title>
<!-- bootstrap框架 -->
<%-include('bt.ejs')%>
</head>
<body>

	<div class="container">
		<%-include('daohanglan.ejs')%>
			<div class="row" style="margin-top: 10px">
				<%-include('userlf.ejs')%>
				<div class="col-lg-9">
					<div class="card">
						<div class="card-header">我的购物车</div>
						<div class="card-body">
							<p style="color: red"><%= info %></p>
							<table class="table">
								<thead class="thead-dark">
									<tr>
										<th scope="col">序号</th>
										<th scope="col">商品名称</th>
										<th scope="col">商品价格</th>
										<th scope="col">购买数量</th>
										<th scope="col">操作</th>
									</tr>
								</thead>
								<tbody>
									<% for(var i = 0; i < goodsList.length; i++) { %>
										<tr>
											<th scope="row"><%= i %></th>
											<td><%= goodsList[i].goodsname %></td>
											<td><%= goodsList[i].price %></td>
											<td><%= goodsList[i].number %></td>
											<td>
												<a type="button" class="btn btn-primary"
														href="/Buygoods?id=<%= goodsList[i].id %>">购买商品</a>
												<a type="button" class="btn btn-danger"
														href="/Deletegoods?id=<%= goodsList[i].id %>">删除商品</a>
											</td>
										</tr>
									<% } %>
									
								</tbody>
								
							</table>
							<nav aria-label="Page navigation example">
								<ul class="pagination">
									<li class="page-item"><a class="page-link" href="#">Previous</a></li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#">Next</a></li>
								</ul>							
							</nav>
						</div>
					</div>
				</div>
			</div>
	</div>

</body>
</html>